.plantCardContainer {
    background: rgba(136, 216, 64, .8);
    border-radius: 25px;
    border: 2px solid #2A351F;
    margin: 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}

.plantCardContainer img {
    max-width: 200px;
    max-height: 200px;
}

.plantListContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
}

.addPlantForm {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    margin: 10px;
}

.addPlantForm label {
    margin: 5px;
}

.addPlantForm button{
    background: rgba(136, 216, 64, .8);
    border: 1px solid #2A351F;
}

.plantImageContainer {
    display: flex;
    flex-direction: row;
}

.plantImageContainer img {
    max-width: 200px;
    max-height: 200px;
}